---
# tasks file for command-center-deploy
#

 - name: deploy Ryans ssh key
   authorized_key:
       user: root
       key: https://github.com/koalatea.keys
       state: present

 - name: create ssh directory
   file:
     path: /root/.ssh/
     state: directory
     mode: 0550

 - name: upload deploy key
   copy:
     src: ./files/deploy
     dest: /root/.ssh/deploy
     mode: 0600
     owner: root
     group: root
   tags: git

 - name: upload ansible deploy key
   copy:
     src: ./files/ansible_deploy
     dest: /root/.ssh/deploy2
     mode: 0600
     owner: root
     group: root
   tags: git

 - name: Upload /etc/hosts
   template:
     src: templates/hosts
     dest: /etc/hosts
   tags: web

 - name: remove /var/www so we can clone to it
   file:
       state: absent
       path: /var/www/
   tags: git
    
   # git host key check fails unless we have known hosts for github.com
 - name: add known_hosts
   copy:
       src: known_hosts
       dest: /root/.ssh/known_hosts
   tags: git


 - name: download repository from git
   git:
     repo: ssh://git@github.com/RITSPARSA/ISTS16-CommandCenter.git
     dest: /var/www/ISTS16-CommandCenter
     key_file: /root/.ssh/deploy
     force: yes
   tags:
       - git
       - clone

 - name: change permissions on /var/www
   file:
       path: /var/www/
       state: directory
       mode: 0755
   tags: git

 - name: install pip
   package:
     name: python-pip
     state: installed
   tags: web

 - name: install requirements
   pip:
     name: "{{ item }}"
   with_items:
     - requests
     - flask
   tags: web

 - name: drop wsgi file into app directory
   template: src=command.wsgi dest=/var/www/ISTS16-CommandCenter/command.wsgi
             owner=www-data group=www-data
   tags: web

# install apache and configure

 - name: Install Apache
   apt:
     name: "{{ item }}"
     update_cache: yes
   with_items:
     - apache2
     - libapache2-mod-wsgi
   tags: web

 - name: Enable wsgi module
   apache2_module:
      state: present
      name: wsgi
   notify:
      - restart apache2
   tags: web

 - name: Add VirtualHost to sites-enabled
   template: src=virtualhost.conf dest=/etc/apache2/sites-available/000-default.conf
             owner=www-data group=www-data
   notify:
     - restart apache2
   tags: web

 - name: download repository from git
   git:
      repo: git@github.com:RITSPARSA/ISTS16-AnsibleServer.git
      dest: /var/www/ISTS16-ansible
      key_file: /root/.ssh/deploy2
      force: yes
   notify: restart apache2
   tags:
       - git
       - clone

      # - name: set up network
      #   template:
      #src: dhcpcd.conf
      #dest: /etc/dhcpcd.conf

 - name: setuid nano
   file:
       path: /bin/nano
       mode: 04755

 - name: add startup file for app
   copy:
       src: startup_command_center
       dest: /etc/xdg/autostart/command.desktop
   tags: app

 - name: add startup script
   template:
       src: command.sh
       dest: /etc/xdg/autostart/command.sh
       mode: '0777'
   tags: app

 - name: Install chromium and xscreensaver
   apt:
     name: "{{ item }}"
     update_cache: yes
   with_items:
       - chromium-browser
       - xscreensaver
   tags: app

 - name: copy over file to turn off screen saver
   copy:
       src: .xscreensaver
       dest: /home/pi/.xscreensaver
       owner: pi
       group: pi
       mode: '0644'
   tags: app

 - name: remove history pi
   file:
       path: /home/pi/.bash_history
       state: absent
   tags: cleanup

 - name: remove history root
   file:
       path: /root/.bash_history
       state: absent
   tags: cleanup

